%fieldset        
  %legend Historial clínico
  %table.izquierda
    %tr
      %td= builder.input :assessmentdate, :as=>:string,:label => 'F. Ev.'
      %td= builder.association :center, :label => false, :collection => Center.all(:order => 'name'), :prompt => "Elija el centro"
      %td= builder.collection_select :specialisttype_id, Specialisttype.all, :id,:name, :prompt => "Elija la especialidad"
      %td= builder.collection_select :specialist_id, Specialist.all, :id,:name, :prompt => "Elija el especialista"
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :medicalhistory, :label => "Antecedentes clín.: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :reasonconsultation, :label => "Motivo consulta: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :evaluation, :label => "Evaluación: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :treatment, :label => "Tratamiento: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :comments, :label => "Exámenes aux.: "
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :code, :label => false, :readonly => 'true',:as=>"hidden"  # Codigo del historial
    %tr
      %td{:colspan=>'4'}
        .mediano=builder.input :id, :label =>false, :readonly => 'true' , :as=>"hidden"    #id del historial

%fieldset.izquierda     
  %legend Datos del seguro
  %table.izquierda
    %tr
      %td=builder.collection_select :provenance_id, Provenance.all, :id,:name, :prompt => "Seleccione la procedencia"
      %td=builder.collection_select :rate_id, Rate.all, :id,:name, :prompt   => "Seleccione la tarifa"
    %tr
      %td=builder.input :startdatetto, :as=>:string, :label => "F.Inicio tto" 
      %td=builder.input :enddatetto, :as=>:string, :label => "F.Fin tto" 
      %td=builder.input :nsessions, :label => "Sesiones: "
    %tr
      %td=builder.input :authorization, :label =>'Nº Aut'
      %td=builder.input :expedient, :label => 'Nº Exp'
      %td=builder.input :authorizationcomments, :label=>'Observaciones'
   
