= unless @pacientes.nil?
  %table.listado
    %tr
      %th Nº 
      %th Nombre
      %th 1 Apellido
      %th 2 Apelllido
      %th Identificación
      %th Ocupación
      %th Tarifa
      %th Móvil
      %th Tfno
      %th Tfno Fam
      %th C.P
      %th
      %th

  %br
  

