%div.search-client
  %table.izquierda
    %tr
      %td= text_field_tag 'search_client_id', '',:type=>"hidden",:placeholder => ""
      %td{:width =>'200px'}
        = autocomplete_field_tag 'paciente_fullname', '', tabs_autocomplete_paciente_fullname_path,:id_element => '#search_client_id',:size => 50
      %td
        %button{:onClick => "search_paciente_events()"}
          Buscar 
