.container { 
	width: 980px;} 
body {	background: #fef977;} 
header {	padding-top: 20px;
	background: #9a2f41;
	padding: 20px;
}header img { 
	background: #fff;
	float: left;
}
header h1{
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 500%;
	padding-left: 400px;
	color: #FFFFFF;

}
section { 
	margin-top: 1em; 
	font-size: 120%; 
	padding-left: 20px; 
	padding-right: 20px; 
	padding-top: 40px;
	padding-bottom: 20px;
	background: #fff;} 
section h1 {
	font-size: 200%;
	}

section ul{
	padding-left: 30px;
	padding-right: 20px;

}
section ul li{
	list-style-type: decimal; 

}
section table tr td{
	text-align: center;
}
footer {	text-align: center; 
	margin-top: 10px; 
	width: 100%; 
} 
footer nav {
	float: none;
	padding-left: 200px;}
footer img{
	float:right;
}/* Links */.blanco a:hover { 
	color: #fff; 
	text-decoration: underline;} 
.negro a, a:hover, a:visited{
	color:#000000
}
.blanco a, a:hover, a:visited, nav{
	color: #FFFFFF;
}

/* Navigation */
nav { 
	float: right;
	color:#666666
}nav { 
	background-color: #000; 
	padding: 15px; 
	white-space: nowrap;}nav ul { 
	margin: 0; 
	padding: 0;}nav ul li { 
	list-style-type: none; 
	display: inline-block; 
	padding: 0.2em 0;}nav ul li a { 
	padding: 0 5px; 
	font-weight: bold;} 
nav ul li a:visited {
	color: #fff;} 
nav ul li a:hover {
	text-decoration: underline;}

/* Para los textos normales */
p.texto { 
	text-align: justify; 
	font-size: 100%; 
	padding: 20px;
}



/* Sign up button */a.signup_button { 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	text-align: center; 
	width: 100px; 
	color: #fff; 
	background: #999999; 
	font-size: 100%; 
	font-weight: bold; 
	padding: 20px;}
/* Round corners */.round { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;}
/* ------------ */
table.profile { 
	width: 100%; 
	margin-bottom: 0;
	vertical-align: top;
	
}
td.main { 
	padding: 1em;
}
td.sidebar { 
	font-size: 95%;
	vertical-align: top; 
	background: #ffc;
}

.profile img.gravatar { 
	border: 1px solid #999; 
	margin-bottom: -15px;
}
div.field, div.actions {
	margin-bottom: 10px;
}

/*Formato de los ERRORES*/
.field_with_errors {
	margin-top: 10px; 
	padding: 2px; 
	background-color: red; 
	display: table;
} 
.field_with_errors label {
	color: #fff;
}

#error_explanation { 
	width: 400px; 
	border: 2px solid red; 
	padding: 7px; 
	padding-bottom: 12px; 
	margin-bottom: 20px; 
	background-color: #f0f0f0;
}
#error_explanation h2 { 
	text-align: left; 
	font-weight: bold; 
	padding: 5px 5px 5px 15px; 
	font-size: 12px;
	margin: -7px; 
	background-color: #c00; 
	color: #fff;
}
#error_explanation p { 
	color: #333; 
	margin-bottom: 0; 
	padding: 5px;
}
#error_explanation ul li { 
	font-size: 12px; 
	list-style: square;
}

h1.contactos {
	margin-bottom: 0.3em;
} 
table.contactos {
	margin-top: 1em;
}

table.contactos tr {
height: 70px;
}

table.contactos tr td.gravatar { 
	border-top: 1px 
	solid #ccc; 
	vertical-align: top; 
	width: 50px;
}
table.contactos tr td.contacto { 
	border-top: 1px solid #ccc; 
	vertical-align: top; 
	padding-top: 10px;
}
table.contactos tr td.contacto span.timestamp { 
	display: block; 
	font-size: 85%; 
	color: #666;
} 


div.user_info img {
	padding-right: 0.1em;
} 
div.user_info a {
	text-decoration: none;
} 
div.user_info span.user_name {
	position: absolute;
} 
div.user_info span.contactos {
	font-size: 80%;
} 
form.new_contacto {
	margin-bottom: 2em;
}
form.new_contacto textarea { 
	height: 4em; 
	margin-bottom: 0;
}

ul.users {
	margin-top: 1em;
} 
.users li {
	list-style: none;
}


/*Formato de tabla de edición */


.izquierda{
	text-align: left;
	vertical-align: top;
}
.derecha{
	text-align: right;
	vertical-align: top;

}
.centrado{
	text-align: center; 
	vertical-align: top;

}
.arealogin{
	font-size: 75%;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}
.arealogin a{
		color: #000000;
}
.arearegistro a{
		color: #000000;
		font-size: 90%;
}

table.listado{ 
	color: #666;
	background-color: #BBBBBB;
	border-collapse: collapse;
    border: 3px solid #000000;
}
table.listado tbody th{
	font-weight: bold;
	color: #BBBBBB;
	background-color: #000000;
} 
table.listado a{
	color: #000000;
}
table.listado tr td{
	padding: 2px;
	margin: 5px;
	border-top: 1px solid;
	}


