/* ----- SimpleForm Styles ----- */

.formulario {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
	background-color: #EEEEEE;
	padding: 3px;
	margin-top: 3px;
	
}

.formulario a{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;

}
.formulario a:hover{
	color: #000000;
	text-decoration: underline;
}
.izquierda{
	float: left;
	width: 590px;
}
.derecha{
	float: right;
	width: 510px;
}
.formulariooculto {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
	background-color: #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: none;
	text-align: center;
}

.table_form{
	width: 97%;
}
.tabla_editable{
    text-align: left;
    width: 100%;
}
.tabla_editable td, th{
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: right;
	background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #DDDDDD;
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
}

.tabla_editable input{
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: right;
	margin-left: 5px;

}
.tabla_editable textarea{
	width: 440px;
	height: 40px;


}
.table_tabs{
	width: 100%;
	font-size: 130%;
}
.table_tabs td{
  	font-size: 70%;
  	padding-bottom: 2px;
	padding-left: 4px;
}
.check label{
	padding-left: 100px; 
}

.table_form th{
	background: none;
  	font-weight: normal; 
  	font-size: 70%;
	text-transform: uppercase;

}
.table_form td, th{
	padding-bottom: 2px;
	padding-left: 4px;
}

.tabs {
  background-color: #DDDDDD;
  padding: 5px;
}

.simple_form .small input{
	width: 30px;
}
.simple_form .grande input{
	width: 430px;
}
.simple_form .mediano input{
	width: 200px;
}

.simple_form input{
  width: 100px;
/*  font-weight: bold; */
  float: right;
  font-size: 80%;

}

.simple_form select{
	float: right;
}

.simple_form input:focus, boolean:focus {
  	font-size: large;
  	background-color: #FFF6BF;
}
#form_tag label{
	text-transform: uppercase;
  	font-weight: normal; 
  	font-size: 70%;
  	margin-left: 5px;
  	vertical-align: middle;
}

.simple_form label {
  font-size: 70%;
  text-transform: uppercase; 
  font-weight: normal; 
  margin-left: 5px;
  vertical-align: middle;

}

div.boolean label, label.collection_radio {
  float: left;
  margin: 0;
}


label.collection_radio {
  margin-right: 3px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: 120px;
  font-size:    12px;
}

.simple_form .text{
	clear: left;
	display: block;
}
.simple_form .hint {
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 3px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: -3px;
  vertical-align: -3px;
}
input.boolean{

}

label.collection_check_boxes {
  float: left;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}
