%h1 Bienvenido a FisioApp!

#columna
  .left.column
    =link_to pacientes, new_paciente_path
    =link_to citas, :controller => "calendar", :action => "index"
  .right.column
    =link_to facturacion, new_invoicehead_path
    =link_to informes, "http://fisior.es"
  

