%h1 Bienvenido a FisioApp!

#columna
  .left.column
    =link_to pacientes, :controller => "pacientes", :action => "index"
    =link_to citas, "http://fisior.es"
  .right.column
    =link_to facturacion, "http://fisior.es"
    =link_to informes, "http://fisior.es"
  

