%h1 Bienvenido a FisioApp!

#columna
  .left.column
    =link_to tabs, :controller => "tabs", :action => "show"
    =link_to citas, "http://fisior.es"
  .right.column
    =link_to citas, "http://fisior.es"
    =link_to citas, "http://fisior.es"
  

