<footer> 
	<nav class="round">
	<%= link_to logousabi, "http://www.usabi.es" %>
	<ul> 
		<li><%= link_to "About", '#' %></li> 
		<li><%= link_to "Contact", '#' %></li> 
		<li>
			<a href="http://www.terapia-fisica.com/noticias-de-fisioterapia.html">News</a>
		</li> 	</ul> 
	<a href="http://www.usabi.es/">
		Usabi - Desarrollo de aplicaciones web y aplicaciones iOs/Android
	</a> <br>
	<a href="http://www.fisior.es/">
		Fisior - Centros de fisioterapia
	</a> 
	</nav></footer>